.myGlyphMarginClass {
	background: red;
    width: 10px !important;
    height: 10px !important;
    left: 10px !important;
    top: 3px;
    border-radius: 5px;
}
.myContentClass {
	background: lightblue;
}